<div class="container fondo">
    <a class="btn btn-primary" routerLink="/registro" target="_blank" role="button">registro</a>
    <a class="btn btn-primary" routerLink="/cliente" target="_blank" role="button">login cliente</a>
    <a class="btn btn-primary" routerLink="/admin" target="_blank" role="button">login admin</a>
    <a class="btn btn-primary" routerLink="/ad-dash" target="_blank" role="button">dashboard </a>
    <a class="btn btn-primary" routerLink="/clases" target="_blank" role="button" >clases </a>
    <a class="btn btn-primary"  routerLink="/empleado" target="_blank"role="button">empleado </a>
</div>
